body {
    background: rgba(4, 185, 240, 0.651);
    font: normal 15pt Liberation;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    margin: auto;
    padding: 15px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
}
select {
    display: block;
    margin: auto;
    width: 200px;
}
option {
    font-size: 12pt;
}
input.analisar {
    font-size: 12pt;
    display: block;
    margin: auto;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}