body {
    background: rgba(4, 185, 240, 0.651);
    font: normal 15pt Liberation;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    margin: auto;
    padding: 15px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
}
img {
    max-width: 400px;
    border-radius: 10px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}